* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: lightblue;
    height: 100vh;
}

#app {
    padding: 30px 0;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 10px;
}

#title {
    margin: 20px;
    font-size: 20px;
    flex-direction: row;
    background-color: lightgray;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#menu {
    flex-direction: column;
    padding: 10px;
}

#score {
    flex-direction: column;
    padding: 20px;
}

#actual {
    margin: 0px;
}

#stats {
    flex-direction: row;
}

#game-interface {
    flex-direction: column;
}

#game-over {
    flex-direction: column;
}

#gameboard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    background-color: blue;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#gameboard h1 {
    margin-top: 40%;
    margin-bottom: 50%;
}

#error {
    color: red;
}

#to-fast {
    color: red;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}

input {
    margin: 20px;
    padding: 10px;
}